@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.woff"); }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack Medium.woff"); }
html, body, ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.main {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform; }

ul {
  list-style: none; }

label {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.section {
  min-height: 650px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 0; } }

.container {
  width: 95%;
  max-width: 940px;
  margin: auto;
  height: 100%;
  position: relative; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.6875rem; } }

.fullscreen-menu {
  display: none;
  background-color: #2f3234;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100; }
  .fullscreen-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.fullscreen-menu__top {
  padding-top: 0.625rem;
  position: absolute;
  top: 0;
  width: 100%; }

.fullscreen-menu__close {
  float: right;
  margin-top: 1.25rem;
  cursor: pointer; }

.fullscreen-menu__item {
  margin-bottom: 3.75rem;
  text-align: center;
  position: relative; }
  .fullscreen-menu__item:last-child {
    margin-bottom: 0; }
    .fullscreen-menu__item:last-child::after {
      display: none; }
  .fullscreen-menu__item::after {
    content: '';
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: -1.875rem;
    left: 50%; }

.fullscreen-menu__link {
  color: #fff;
  font: 1.6rem 'Ubuntu';
  line-height: 2.66rem; }

.header {
  position: relative;
  background: url("../image/video-bg.png") no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%; }
    @media screen and (max-width: 768px) {
      .header .container {
        height: 100%; } }

.header__top {
  padding-top: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo {
  float: left;
  display: block; }

.hamburger-menu {
  width: 1.5625rem;
  height: 1.5rem;
  background: url("../image/icons/hamburger-menu.svg") no-repeat;
  background-size: 100%;
  float: right;
  margin-top: 1.5rem;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: block; } }

.navigation {
  float: right; }
  @media screen and (max-width: 768px) {
    .navigation {
      display: none; } }

.header__button {
  display: block;
  float: right;
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  color: #fff;
  font: 0.8125rem "Ubuntu";
  line-height: 2.1875rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.125rem;
  cursor: pointer; }
  .header__button:hover {
    background-color: #c1401e; }

.navigation__list {
  float: right;
  margin-top: 1.8125rem;
  font-size: 0;
  list-style: none; }

.navigation-list__item {
  float: left;
  margin-right: 2.25rem;
  position: relative;
  list-style: none; }
  .navigation-list__item:last-child {
    margin-right: 0.9375rem; }
    .navigation-list__item:last-child::after {
      display: none; }
  .navigation-list__item::after {
    content: '';
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0.25rem;
    right: -1.1875rem; }

.navigation-list__link {
  font: 0.8125rem "Ubuntu";
  line-height: 0.8125rem;
  letter-spacing: 0.00625rem;
  text-transform: uppercase;
  color: #fff; }

.header__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .header__left {
      float: none;
      width: 100%;
      height: 50%; } }

.header__pic {
  display: block;
  max-height: 100%; }
  @media screen and (max-width: 480px) {
    .header__pic {
      max-width: 80%;
      max-height: 80%; } }

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: right;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .header__right {
      float: none;
      width: 100%;
      height: 50%;
      text-align: center;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.header__text {
  margin-left: 0.625rem;
  font: 4.4375rem "Gagalin";
  color: #f9b43b;
  letter-spacing: 0.04375rem; }
  @media screen and (max-width: 768px) {
    .header__text {
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .header__text {
      white-space: nowrap; } }

.header__text2 {
  margin-top: 1.375rem;
  margin-left: 0.625rem;
  font: 3.875rem "Lifehack";
  line-height: 3.75rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .header__text2 {
      margin-left: 0;
      text-align: center;
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .header__text2 {
      width: 100%;
      padding: 0; } }

.header__arrow-down {
  display: block;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.1875rem;
  border-bottom: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg); }

.features {
  background: url("../image/tomato-3.png") center no-repeat;
  background-size: cover; }
  .features .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.features .title {
  font: 4.5rem "Gagalin";
  line-height: 4.5rem;
  color: #2f3234;
  text-align: center;
  margin-bottom: 7.5rem;
  margin-top: 0; }

.features-content {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .features-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.features-content__item {
  width: 18.4375rem;
  text-align: center;
  color: #2f3234;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.3125rem; }
  @media screen and (max-width: 480px) {
    .features-content__item {
      width: 100%;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-top: 1.25rem;
      height: 9.375rem;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.features-content__pic {
  height: 5.625rem; }
  @media screen and (max-width: 480px) {
    .features-content__pic {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

.features-content__image {
  margin: auto;
  max-width: 100%;
  max-height: 100%; }

@media screen and (max-width: 480px) {
  .features__desc {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; } }

.features-content__title {
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
  font: 1.4375rem "Lifehack";
  line-height: 1.75rem; }
  @media screen and (max-width: 480px) {
    .features-content__title {
      margin-top: 0;
      text-align: left; } }

.features__text {
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem; }
  @media screen and (max-width: 480px) {
    .features__text {
      text-align: left; } }

.slider {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f9b43b), color-stop(50%, #eb8d38), color-stop(80%, #f9b43b));
  background: linear-gradient(to bottom, #f9b43b 20%, #eb8d38 50%, #f9b43b 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (orientation: landscape) {
    .slider {
      min-height: 800px; } }

.slider__block {
  height: 73.84%; }
  @media screen and (max-width: 480px) {
    .slider__block {
      height: 90%; } }

.slider__arrow {
  position: absolute;
  top: 50%;
  display: block;
  cursor: pointer; }

.slider__arrow-left {
  left: -3%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg); }
  @media screen and (max-width: 768px) {
    .slider__arrow-left {
      left: 0%; } }

.slider__arrow-right {
  right: -3%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg); }
  @media screen and (max-width: 768px) {
    .slider__arrow-right {
      right: 0%; } }

.slider__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .slider__content {
      width: 74.7396%; } }

.slider__list {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0; }

.slider__item {
  height: 100%;
  display: inline-block;
  white-space: normal; }

.slider__left {
  width: 50%;
  height: 100%;
  float: left;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider__left {
      float: none;
      width: 100%;
      height: 50%; } }

.slider__pic {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  max-width: 95%;
  max-height: 100%; }
  @media screen and (max-width: 768px) {
    .slider__pic {
      bottom: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

.slider__consist {
  position: absolute;
  width: 5.625rem;
  height: 5.625rem;
  background: #f08c33 url("../image/icons/burger.svg") center 0.9375rem no-repeat;
  border-radius: 5px;
  top: 0;
  left: 0;
  text-align: center;
  font: 0.875rem "Gagalin";
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: 1.1px; }
  @media screen and (max-width: 480px) {
    .slider__consist {
      background-size: 55%; } }
  .slider__consist:hover {
    background-color: #e35028; }
    .slider__consist:hover .slider__ingredients {
      display: block; }

.slider__consist1 {
  display: block;
  margin-top: 3.75rem; }

.slider__ingredients {
  display: none;
  width: 16.875rem;
  -webkit-transition: width .3s;
  transition: width .3s;
  height: 20.625rem;
  background-color: #fff;
  opacity: .9;
  border-radius: 5px;
  position: absolute;
  left: 100%;
  top: 0;
  color: #000000;
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem; }

.slider__table {
  display: table;
  width: 100%;
  height: 100%; }

.slider__row {
  display: table-row; }

.slider__cell {
  display: table-cell;
  width: 33.3333%;
  vertical-align: middle; }

.slider__cell:nth-child(2) {
  text-align: left; }

@media screen and (max-width: 480px) {
  .slider__cell:first-child {
    background-size: 45%; } }

.slider__cell-1 {
  background: url("../image/icons/beef.svg") center no-repeat; }

.slider__cell-2 {
  background: url("../image/icons/buns.svg") center no-repeat; }

.slider__cell-3 {
  background: url("../image/icons/salad.svg") center no-repeat; }

.slider__cell-4 {
  background: url("../image/icons/sauce.svg") center no-repeat; }

.slider__cell-5 {
  background: url("../image/icons/cucumber.svg") center no-repeat; }

.slider__cell-6 {
  background: url("../image/icons/cheese.svg") center no-repeat; }

.slider__kkal {
  position: absolute;
  bottom: 0;
  background: url("../image/icons/kkal.svg") no-repeat;
  width: 60px;
  height: 75px;
  font: 1.25rem "Gagalin";
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 1px; }
  @media screen and (max-width: 768px) {
    .slider__kkal {
      right: 0;
      top: 0; } }

.slider__kkal1 {
  display: block;
  margin-top: 30px; }

.slider__kkal2 {
  font: 0.875rem "Gagalin";
  line-height: 1.5rem;
  display: block; }
  @media screen and (max-width: 480px) {
    .slider__kkal2 {
      margin-top: 12px; } }

.slider__right {
  width: 50%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slider__right .title {
    font: 4.5rem "Gagalin";
    line-height: 3.875rem;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .slider__right .title {
        width: 90%;
        margin: 0 auto; } }
    @media screen and (max-width: 480px) {
      .slider__right .title {
        font-size: 3.75rem; } }
  @media screen and (max-width: 768px) {
    .slider__right {
      float: none;
      width: 100%;
      height: 50%;
      text-align: center; } }

.slider__text {
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  margin-top: 3.125rem;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .slider__text {
      margin-top: 1.875rem; } }

.slider__order {
  color: #e45028;
  line-height: 1.75rem; }

.slider__price {
  font: 4.5rem "Gagalin"; }

.slider__rubls {
  font: 1.875rem "Gagalin"; }

.slider__button {
  display: inline-block;
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  color: #fff;
  font: 0.8125rem "Ubuntu";
  line-height: 2.1875rem;
  text-align: center;
  text-transform: uppercase;
  margin-left: 1.25rem; }

.reviews__list {
  height: 100%; }
  .reviews__list li[class^="reviews__item reviews__item-bg1"] {
    background: url("../image/photo/1.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg2"] {
    background: url("../image/photo/2.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg3"] {
    background: url("../image/photo/3.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg4"] {
    background: url("../image/photo/4.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg5"] {
    background: url("../image/photo/5.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg6"] {
    background: url("../image/photo/6.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg7"] {
    background: url("../image/photo/7.png") center no-repeat;
    background-size: cover; }
  .reviews__list li[class^="reviews__item reviews__item-bg8"] {
    background: url("../image/photo/8.png") center no-repeat;
    background-size: cover; }

.reviews__item {
  float: left;
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .reviews__item:hover .reviews__hover {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: .5s;
    transition: .5s; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 3.125rem;
  padding-left: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: .5s;
  transition: .5s; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      padding-left: 0;
      padding-top: 1.25rem; } }

.reviews__title {
  font: 0.875rem "Gagalin";
  line-height: 0.875rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  color: #fff;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      text-align: center;
      margin-top: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .reviews__title {
      font-size: 1.5rem;
      line-height: 1.875rem;
      margin-top: 10%;
      padding: 0 1.25rem; } }

.reviews__text {
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  color: #fff;
  margin-top: 1.875rem;
  width: 90%;
  max-height: 45%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .reviews__text {
      text-align: center;
      width: 100%;
      padding: 0 1.5625rem;
      margin-top: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.reviews__button {
  display: block;
  width: 6.875rem;
  height: 2.1875rem;
  border-radius: 0.1875rem;
  border: 0;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font: 0.8125rem "Ubuntu";
  line-height: 2.1875rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__button {
      margin: 1.25rem auto; } }
  @media screen and (max-width: 480px) {
    .reviews__button {
      width: 9.375rem;
      height: 2.8125rem;
      font: 1.0625rem "Ubuntu";
      line-height: 2.8125rem; } }

.modal {
  width: 25rem;
  height: 18.75rem;
  border-radius: 5px; }

.modal__title {
  font: 0.875rem "Gagalin";
  line-height: 0.875rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  color: #2f3234; }

.modal__text {
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  color: #2f3234;
  margin-top: 10px; }

.fancybox-close-small::after {
  color: red;
  font-size: 27px;
  line-height: 27px; }

.team {
  background: url("../image/SBS_1255-X2.png") center no-repeat;
  background-size: cover;
  position: relative; }

.team__content {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background-color: #313436;
  opacity: .9;
  padding-left: 5rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%; } }

.team .title {
  margin-top: 5.625rem;
  font: 4.5rem "Gagalin";
  line-height: 4.5rem;
  color: #f9b43b; }
  @media screen and (max-width: 768px) {
    .team .title {
      text-align: center; } }

.acco {
  margin-top: 5.625rem; }

.acco__item {
  margin-bottom: 2.1875rem; }

.acco__item-active .acco__title {
  color: #f9b43b; }

.acco__title {
  height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 0.875rem "Gagalin";
  line-height: 1.75rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .acco__title {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.acco__triangle {
  height: 7px;
  width: 9px;
  background: url("../image/icons/triangle.svg") no-repeat;
  background-size: 100%;
  margin-right: 1.25rem;
  -webkit-transition: .5s;
  transition: .5s; }

.acco__item-active .acco__triangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s; }

.acco__content {
  display: none;
  overflow: hidden;
  margin-top: 0.9375rem; }

.acco__pic {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1.25rem;
  float: left; }
  @media screen and (max-width: 768px) {
    .acco__pic {
      float: none;
      margin: auto; } }

.acco__img {
  max-width: 100%;
  max-height: 100%; }

.acco h3 {
  font: bold 0.875rem "Ubuntu";
  color: #fff;
  margin-left: 8.75rem; }
  @media screen and (max-width: 768px) {
    .acco h3 {
      margin: 24px 0 0 0;
      text-align: center; } }

.acco__text {
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  color: #fff;
  margin-left: 8.75rem;
  margin-top: 1.25rem; }
  @media screen and (max-width: 768px) {
    .acco__text {
      margin-left: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .acco__text {
      padding: 0 3.125rem; } }

.menu {
  background: url("../image/menu-bg.png") center no-repeat;
  background-size: cover;
  position: relative; }
  .menu .title {
    top: 6.875rem;
    left: 5.625rem;
    position: absolute;
    font: 4.5rem "Gagalin";
    line-height: 4rem;
    color: #fff; }
    @media screen and (max-width: 480px) {
      .menu .title {
        font-size: 3rem;
        top: 4.375rem;
        left: 3.75rem; } }

.acco-vertical {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .acco-vertical {
      width: 100%; } }

.acco-vertical__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .acco-vertical__item:nth-child(1) .acco-vertical__item-container::after {
    background: url("../image/meat-menu.png") center no-repeat;
    background-size: cover; }
  .acco-vertical__item:nth-child(3) .acco-vertical__item-container::after {
    background: url("../image/vegan-menu.png") center no-repeat;
    background-size: cover; }
  .acco-vertical__item:nth-child(5) .acco-vertical__item-container::after {
    background: url("../image/diet-menu.png") center no-repeat;
    background-size: cover; }
  .acco-vertical__item:hover .acco-vertical__item-container::after {
    -webkit-filter: brightness(100%);
            filter: brightness(100%); }

.acco-vertical__item-container {
  width: 5rem;
  position: relative; }
  .acco-vertical__item-container::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(40%);
            filter: brightness(40%); }

.acco-vertical__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  font: 2.5rem "Gagalin";
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  z-index: 100; }

.acco-vertical__content {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-transition: -webkit-box-flex .5s;
  transition: -webkit-box-flex .5s;
  transition: flex .5s;
  transition: flex .5s, -webkit-box-flex .5s, -ms-flex .5s;
  overflow: hidden;
  background-color: #2e3133;
  opacity: .9;
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  color: #fff; }

.acco-vertical__text {
  width: 21.875rem;
  margin-top: 3.125rem;
  margin-left: 3.125rem; }
  .acco-vertical__text p {
    width: 100%; }
  @media screen and (max-width: 480px) {
    .acco-vertical__text {
      width: 11.25rem;
      margin-left: 1.875rem; } }

.order {
  background: url("../image/order-bg.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 3.125rem; }
  .order .title {
    font: 4.5rem "Gagalin";
    color: #f9b43b;
    text-align: center; }
  @media (orientation: landscape) {
    .order {
      min-height: 750px; } }

.form {
  height: 100%;
  margin-top: 4.25rem; }
  .form form {
    height: 100%; }
  @media screen and (max-width: 768px) {
    .form {
      margin: 3rem auto; } }
  @media screen and (max-width: 480px) {
    .form {
      margin: 1.75rem auto; } }

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent;
  height: 2.1875rem;
  margin-top: 0.3125rem;
  width: 100%; }

.form__label-font {
  color: #fff;
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem; }

.form__input:focus {
  border: 0.125rem solid #f9b43b;
  outline: none; }

.form-left {
  float: left;
  width: calc(100% / 2 - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .form-left {
      float: none;
      width: 100%; } }

.form__name {
  width: 50%;
  padding-right: 0.625rem; }

.form__tel {
  width: 50%;
  padding-left: 0.625rem; }

.form__street {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0.6875rem; }

.form__adress-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.6875rem; }

.form__adress {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1.25rem; }
  .form__adress:first-child {
    margin-left: 0; }

.form-right {
  float: right;
  width: calc(100% / 2 - 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  @media screen and (max-width: 768px) {
    .form-right {
      float: none;
      width: 100%;
      margin-top: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .form-right {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.form__comment {
  width: 100%; }
  .form__comment .form__input-comment {
    width: 100%;
    height: 6.875rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0.3125rem; }

.form__payment {
  width: 33%;
  color: #fff;
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  margin-right: 0.9375rem;
  margin-top: 0.375rem; }
  @media screen and (max-width: 480px) {
    .form__payment {
      margin-top: 1.375rem; } }

.form__payment-check {
  float: left;
  width: 0.4375rem;
  height: 0.4375rem;
  border: 0.25rem solid #fff;
  background-color: #fff;
  border-radius: 50%; }

.form__text {
  line-height: 0.875rem;
  margin-left: 1.5625rem; }

.form__payment-input {
  display: none; }
  .form__payment-input:checked + .form__payment-check {
    background-color: red; }

.form__no-call {
  width: 33%;
  color: #fff;
  font: 0.875rem "Ubuntu";
  line-height: 0.875rem;
  margin-top: 1.875rem; }
  @media screen and (max-width: 480px) {
    .form__no-call {
      margin-top: 1.375rem; } }

.form__no-call-check {
  float: left;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff; }

.form__no-call-input {
  display: none; }
  .form__no-call-input:checked + .form__no-call-check {
    background: #fff url("../image/icons/checkbox.png") center no-repeat;
    background-size: 80% 80%; }

.form__submit-block {
  width: 100%;
  margin-top: 1.375rem; }
  @media screen and (max-width: 480px) {
    .form__submit-block {
      text-align: center;
      margin-top: 1.5rem; } }

.form__submit {
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  color: #fff;
  font: 0.8125rem "Ubuntu";
  line-height: 2.1875rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none; }
  .form__submit:hover {
    background-color: #c1401e; }

.form__reset {
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: transparent;
  color: #fff;
  font: 0.8125rem "Ubuntu";
  line-height: 2.1875rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none; }

.map {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.map__container {
  width: 100%;
  height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
  background-color: #121212; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 6.25rem; } }

.footer__left {
  width: 50%;
  float: left;
  margin-top: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .footer__left {
      float: none;
      text-align: center;
      width: 100%; } }

.footer__adress {
  font: 0.875rem "Ubuntu";
  line-height: 1.5rem;
  color: #fff; }

.footer__tel {
  font: bold 0.875rem "Ubuntu";
  line-height: 1.5rem;
  color: #e45028; }

.footer__pic {
  margin-right: 0.3125rem; }

.footer__right {
  width: 50%;
  height: 100%;
  float: right; }
  @media screen and (max-width: 480px) {
    .footer__right {
      float: none;
      width: 100%; } }

.social {
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .social {
      float: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 1.875rem; } }

.social__items {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social__link {
  width: 100%;
  height: 100%; }
  .social__link:hover .social__pic {
    -webkit-filter: brightness(100%);
            filter: brightness(100%); }

.social__pic {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  max-width: 100%;
  max-height: 100%; }

.navigation-fixed {
  z-index: 100;
  list-style: none;
  position: fixed;
  top: 75px;
  right: 50px; }
  .navigation-fixed .active {
    -webkit-box-shadow: 0 0 0 1px #fff;
            box-shadow: 0 0 0 1px #fff; }
  @media screen and (max-width: 768px) {
    .navigation-fixed {
      display: none; } }

.navigation-fixed__item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 4px solid transparent;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
  margin-bottom: 7.5px; }
  .navigation-fixed__item:hover {
    -webkit-box-shadow: 0 0 0 1px #fff;
            box-shadow: 0 0 0 1px #fff; }

.navigation-fixed__link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff; }

/*****# sourceMappingURL=main.css.map ****/